<h1>My Account</h1>
<p><%= link_to 'My Profile', profile_path(current_user.profile.id) %></p>
<p><%= link_to 'My Properties', properties_path %></p>
<p><%= link_to 'My Orders', orders_my_orders_path %></p>