<center>
<div class="header_text1">GET LAWN SERVICE TODAY!</div>
<div class="header_text2">fast.  professional.  guaranteed.</div>
<div class="header_text3">Select your property type to get started!</div>
<%= image_tag("bird.gif") %><br>

<%= link_to '<span style="margin-left:200px;float:left" class="bluebutton">Resedential</span>'.html_safe, new_user_registration_path %>
<%= link_to '<span style="margin-right:210px;float:right" class="bluebutton">Commercical</span>'.html_safe, new_user_registration_path %>

</center>
