<h3>Please select size of property:</h3>

<input id="slider1"  type="range" min="100" value=100 max="5000" step="10" onchange="$('#size').val($('#slider1').val())"/>
<input id="size" type="text" value=100 size="5" onchange="$('#slider1').val($('#size').val())"/>

<h3>Please choose vendor:</h3>