<h1>My Dashboard</h1>

<div style='float:left'>
<%= link_to "Company profile", profile_path(@vendor.user.profile) %><br>
<%= link_to "Banking information", bank_accounts_path() %><br>
<%= link_to "Orders" %><br>
<%= link_to "Zip codes", zips_path() %><br>
</div>