<h2 id='step'>Step 7: Confirmation</h2>
<div id='confirmation'>
  <p>
    Your request has been processed. Your lawn care service is scheduled for  within  timeframe. In the event of rain or unforseen weather, your request will be processed the following day when weather allows. You will be send an email confirmation once your service has been completed.
  </p>
  <p>
    To make changes to your service, you may login to your accout<br /><%= link_to 'here.', static_pages_myaccount_path %>
  </p>
</div>