#content {
	text-align: center;
}
#content h1 {
	color: #D2619D;
	font: 44px 'PT Sans', serif;
	line-height: 60%;
}
span#text_1 {
	color: #9F1F63;
	font: 34px 'Vollkorn', serif;
	line-height: 10%;
}
span#text_2 {
	color: #0CA9CB;
	font: 34px 'PT Sans', serif;
}
.blue_button {
  background-color: #0CA9CB;
  padding: 15px 35px 15px 35px;
}
.blue_button:hover {
  background-color: #9F1F63;
}
a.blue_button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font: bold 150% 'PT Sans', serif;
}
#residential_btn {
	margin-right: 170px;
}
#bird_image img {
	margin: 10px auto;
}