body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'PT Sans', sans-serif;
}
#container {
  width: 999px;
  padding-bottom: 100px;
  margin: 0 auto 15px auto;
  border: 1px solid #C3C3C3;
  background-color: white;
}
#header {
  height: 150px;
}
#logo img {
  width: 220px;
  margin: 20px 0 0 30px;
  float: left;
}
#phone_number {
  float: right;
  font: bold 180% 'PT Sans', serif;
  color: #7A7A7A;
  margin: 60px 40px 0 0;
}
#center_zone {
  border: 1px solid #C3C3C3;
  border-top: none;
  margin: 0 auto;
  width: 95%;
}
#header_menu {
  height: 35px;
  border-top: 1px solid #C3C3C3;
  border-bottom: 1px solid #C3C3C3;
  background-color: #9F1F63;
}
#login span {
  font: bold 110% 'PT Sans', serif;
  color: white;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
#login span a {
  color: white;
  text-decoration: none;
}
#login span a:hover {
  background: none;
  color: #0CA9CB;
}
#content {
  min-height: 400px;
  margin: 10px auto;
  padding-bottom: 75px;
}
#grass {
  height: 100px;
  position: relative;
}
#grass img {
  bottom: 91px;
  position: relative;
}
#grass span {
  position: absolute;
  top: 35px;
  left: 50px;
  color: white;
  font: 35px 'Vollkorn', serif;
}
#about_us {
  height: 65px;
  background-color: #0CA9CB;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
#about_title {
  width: 25%;
  border-right: 1px solid white;
  height: 100%;
  background-color: #9F1F63;
  text-align: center;
  text-transform: uppercase;
  font: bold 170% 'PT Sans', serif;
  position: relative;
  float: left;
}
#about_title span {
  color: white;
  text-transform: bold;
  display: block;
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;
}
#about_title span span {
  position: relative;
  top: -50%
}
#about_content {
  height: 100%;
  color: white;
  padding: 7px 5px 2px 250px;
  font: 12px 'PT Sans', serif;
}
#footer {
  height: 100px;
  background-color: #0CA9CB;
}
#static_pages {
  width: 33%;
  float: left;
  height: 100%;
  color: white;
}
#static_pages li {
  margin-left: 15px;
}
#vendor {
  width: 33%;
  float: left;
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 100%;
  color: white;
}
#vendor li {
  margin-left: 15px;
}
#social {
  width: 33%;
  float: left;
  height: 100%;
}
#social img {
  float: right;
  margin: 20px 10px 0 0;
}
#copyright {
  text-align: center;
  margin-bottom: 30px;
}
.edit_order {
  padding: 25px 40px;
}
/*Devise*/
#border_content {
  width: 600px;
  margin: 10px auto;
  border: 1px solid #ECECEC;
  text-align: left;
  padding: 25px;
  color: #B5B5B5;
}
#step {
  color: #0CA9CB;
  font: 32px 'PT Sans', serif;
  line-height: 50%;
}
input.blue_button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font: bold 150% 'PT Sans', serif;
}
input.blue_button {
  background-color: #0CA9CB;
  padding: 15px 65px 15px 65px;
  margin-bottom: 70px;
}
#border_content td.small {
  font: 90% 'PT Sans', sans-serif;
  line-height: 50%;
  padding-bottom: 15px;
}
#border_content td.title {
  text-align: right;
  padding: 0 10px 15px 15px;
  font: bold 12px 'PT Sans', serif;
}
#border_content td.order_title {
  text-align: right;
  padding: 0 10px 5px 15px;
  font: bold 12px 'PT Sans', serif;
}
input.text {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DFDFDF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  color: #424242 !important;
  font-size: 0.9em;
  padding: 6px 11px;
  transition: all 400ms ease-out 0s;
  width: 300px;
}
.text:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
select.text {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DFDFDF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  color: #424242 !important;
  font-size: 0.9em;
  padding: 6px 11px;
  transition: all 400ms ease-out 0s;
  width: 324px;
}
#border_content hr {
  color: #F0F0F0;
  width: 360px;
  height: 1px;
  border: 1px solid #F0F0F0;
}
#signup_login {
  width: 300px;
  margin: 0 auto;
  font: bold 12px 'PT Sans', serif;
}
#border_content a {
  color: #0CA9CB;
  text-decoration: none;
}
#border_content a:hover {
  color: #9F1F63;
  background: none;
}
#footer_bird img {
  position: relative;
  z-index: 100;
  left: 780px;
  bottom: 355px;
}
hr#signin {
  margin-left: 100px;
}
hr#forgot_pas {
  margin-left: 60px;
}

/*Payment*/
#payment1 p, #payment2 p, #payment4 p {
  float: left;
}
#clear {
  clear: both;
}
#payment {
  width: 60%;
  margin: 0 auto 30px auto;
  padding-left: 60px;
  padding-bottom: 50px;
  text-align: left;
  background-color: #E2E2E1;
}
#payment input {
  margin: 0 7px;
}
#payment span {
  margin: 0 10px;
}
#payment .blue_button {
  margin-left: -70px;
}
#confirmation {
  border: 1px solid #C3C3C3;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  color: black;
  font: bold 180% 'PT Sans', serif;
}
#confirmation a {
  color: #0CA9CB;
  text-decoration: none;
}
#confirmation a:hover {
  color: #9F1F63;
  background: none;
}
#border_content.wizard1 {
  padding-left: 90px;
}
.wizard2 {
  width: 600px;
  margin: 10px auto;
  border: 1px solid #ECECEC;
  text-align: left;
  padding: 25px 25px 25px 120px;
  color: #B5B5B5;
  font: bold 180% 'PT Sans', serif;
}
.wizard3 {
  width: 600px;
  margin: 10px auto;
  border: 1px solid #ECECEC;
  text-align: left;
  padding: 25px 25px 25px 120px;
  color: #B5B5B5;
  font: bold 180% 'PT Sans', serif;
}
.wizard3 select {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DFDFDF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  color: #424242 !important;
  font-size: 0.9em;
  padding: 6px 11px;
  transition: all 400ms ease-out 0s;
  width: 324px;
}
#vendors {
  overflow: auto;
  height: 200px;
  width: 420px;
  font: bold 180% 'PT Sans', serif;
}