<ul>
  <li><%= link_to "Our Guarantee", link_to_page('our_guarantee') %></li>
  <li><%= link_to "Our Policies", link_to_page('our_policies') %></li>
  <li><%= link_to "Contact Us", link_to_page('contact_us') %></li>
  <li><%= link_to "FAQ", link_to_page('faq') %></li>
</ul>